#exportPattern(".*")
import(RJSONIO)
import(RCurl)
import(XML)


export(getDoc, getDocInfo)

export(subjectClassifications)
export(getAuthorID, getAuthorDocs, getAuthorDocsIds, scoGetAuthor, scopusAuthorSearch, authorRetrieval)

export(getArticleText)

export(scoAffiliation, getArticlesByAffiliation)

export(scopusQuery, buildQuery)

export(searchScopus)


export(coAuthors)
